<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vidolineretailers">

    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="京东"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.vidolineretailers.homepage.ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".homepage.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".totalpage.ui.activity.TotalPageActivity"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>